/* Ensure body and html take full height */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom right, #7b68ee, #6a5acd);
    overflow-y: auto;
    flex: 1;
  }
  
  .landing-container {
    height: 100vh; /* Full viewport height */
    display: flex;
    flex-direction: column;
  }
  
  .navbar {
    display: flex;
    height: 70px; 
    z-index: 1000;
    position: fixed;
    justify-content: space-between;
    align-items: center;
    background-color: #0f172a;
    color: white;
    position: sticky;
    top: 0;
    width: 100%;
    padding: 1rem 2rem;
    box-sizing: border-box;
  }
  
  .navbar-logo {
    font-size: 1.5rem;
    font-weight: bold;
    text-decoration: none;
    color: white;
  }
  
  .navbar-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
  }
  
  .navbar-links button {
    background: none;
    border: none;
    color: inherit;
    text-decoration: underline;
    cursor: pointer;
  }
  
  .navbar-links button:hover {
    text-decoration: none;
  }
  
  /* Full-screen image container */
  .image-scroll-container {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-x: auto;
    flex: 1; /* Fill remaining space */
    
    padding: 3% 2rem;
  }
  
  .image-scroll-container::-webkit-scrollbar {
    height: 10px;
  }
  
  .image-scroll-container::-webkit-scrollbar-thumb {
    background-color: #b19cd9;
    border-radius: 6px;
  }
  
  .image-scroll-container::-webkit-scrollbar-track {
    background: transparent;
  }
  
  .landing-image {
    width: 100%;
    max-width: 800px;
    height: auto;
    object-fit: cover; /* Ensure image covers the area without stretching */
  }
  
  .landing-title {
    text-align: center;
    font-size: 2.5rem;
    margin: 2rem 0;
    color: #fff;
  }
  .map-container {
   
/* Adjust 60px if your navbar is taller or shorter */
    width: 100vw;
    margin-top: 0;
  }